@media only screen and (min-device-width: 480px) {
			.parallax {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				min-height: 100%;
				background-image: url("./img_parallax.jpg");
				background-attachment: fixed;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				z-index: -25;
				filter: sepia(70%);
				filter:blur(2px);
				filter:opacity(70%);
			}
			body {
				font-family: verdana;
				font-size: 16px;
				overflow: hidden;
			}
			header {
				width: 15em;
				position: absolute;
				top: 0;
				left: 0;
				height: 4em;
				box-shadow: 0 0.2em 0.2em rgba(204, 204, 204, 0.4);
				background-color: #304070;
				color: #f4f4f4;
				z-index: 5;
			}
			header spam {
				font-size: 1.2em;
				top: 1em;
				left: 2em;
				display: inline-block;
				position: absolute;
			}
			header button {
				position: absolute;
				font-size: 2em;
				border: none;
				color: #f4f4f4;
				background-color: rgba(0, 0, 0, 0);
				cursor: pointer;
				display: inline-block;
				-webkit-appearance: none;
				left: -0.3em;
				top: 0.2em;
				width: 1.8em;
				height: 1.8em;
				transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
			}
			#right #home {
				height: 100%;
				width: calc(100% - 15em);
				left: 15em;
				top: 0;
				overflow-y: scroll;
				background-color: rgba(0, 0, 0, 0);
				position: relative;
				z-index: 3;
				display: block;
				margin-bottom: 1.5em;
			}
			#right #sobre {
				height: 100%;
				width: calc(100% - 15em);
				left: 15em;
				top: 0;
				overflow-y: scroll;
				background-color: rgba(0, 0, 0, 0);
				position: relative;
				z-index: 3;
				display: none;
				margin-bottom: 1.5em;
			}
			#right #strtcode {
				height: 100%;
				width: calc(100% - 15em);
				left: 15em;
				top: 0;
				overflow-y: scroll;
				background-color: rgba(0, 0, 0, 0);
				position: relative;
				z-index: 3;
				display: none;
				margin-bottom: 1.5em;
			}
			#right #tips {
				height: 100%;
				width: calc(100% - 15em);
				left: 15em;
				top: 0;
				overflow-y: scroll;
				background-color: rgba(0, 0, 0, 0);
				position: relative;
				z-index: 3;
				display: none;
				margin-bottom: 1.5em;
			}
			#right #pogs {
				height: 100%;
				width: calc(100% - 15em);
				left: 15em;
				top: 0;
				overflow-y: scroll;
				background-color: rgba(0, 0, 0, 0);
				position: relative;
				z-index: 3;
				display: none;
				margin-bottom: 1.5em;
			}
			#right {
				/*background-image: url("./img_parallax.jpg");
				background-attachment: fixed;
				background-position: center;
				background-repeat: repeat;
				background-size: cover;*/
				height: 100%;
			}
			#right #home #titulo {
				font-size: 2em;
				text-align: left;
				border-radius: 0.25em;
				background-color: #ffffff;
				width: calc(100% - 2.5em);
				padding-bottom: 0.3em;
				margin-left: 1.5em;
				margin-right: 2em;
				margin-bottom: 0.1em;
				margin-top: 0;
				padding-top: 0;
				top: 0;
				padding: 0.2em;
				box-shadow: 0 0 0.2em rgba(204, 204, 204, 0.9);
			}
			#right #sobre #post {
				border-radius: 0.5em;
				background-color: #ffffff;
				margin-top: 0;
				width: calc(100% - 4em);
				padding: 0.2em;
				padding-bottom: 0.3em;
				margin-left: 1.5em;
				margin-right: 1.5em;
				margin-bottom: 1em;
				box-shadow: 0 0 0.2em rgba(204, 204, 204, 0.9);
			}
			#right #home #post {
				border-radius: 0.5em;
				background-color: #ffffff;
				margin-top: 0;
				width: calc(100% - 4em);
				padding: 0.2em;
				padding-bottom: 0.3em;
				margin-left: 1.5em;
				margin-right: 1.5em;
				margin-bottom: 1em;
				box-shadow: 0 0 0.2em rgba(204, 204, 204, 0.9);
			}
			#right #home #post img {
				border-radius: 0.5em;
				display: inline-block;
				cursor: pointer;
				width: 25%;
				min-width: 4em;
				max-width: 9em;
				height: auto;
				vertical-align: middle;
				margin-bottom: 0.8em;
				margin-left: 0.8em;
				margin-top: 0.8em;
			}
			#right #home #post p {
				background-color: rgba(0, 0, 0, 0);
				margin-left: 0.8em;
				font-size: 20px;
				cursor: pointer;
				display: inline-block;
			}
			#right #home #post spam {
				float: right;
				top: 0;
				right: 0.1em;
				display: block;
				font-weight: normal;
				font-size: 14px;
			}
			#right #home #post div {
				display: none;
				background-color: rgba(0, 0, 0, 0);
			}
			left {
				position: absolute;
				width: 15em;
				height: calc(100% - 3.7em);
				top: 3.7em;
				left: 0;
				display: block;
				background-color: rgba(0, 0, 0, 0);
				z-index: 4;
			}
			left #bar {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: #405080;
				color: #f4f4f4;
				font-size: 1em;
				box-shadow: 0.2em 0 0.2em rgba(204, 204, 204, 0.4);
			}
			left #bar ul {
				list-style-type: none
				margin: 0.3em;
				padding: 0.3em;
			}
			left #bar ul li {
				padding: 0.6em;
				padding-left: 0;
				cursor: pointer;
			}
			left #bar ul li:hover {
				transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				background-color: #6070a0;
				box-shadow: 0 0 0.3em #dddddd;
			}
			#sobre #profileimg {
				border-radius: 0.5em;
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 25%;
				min-width: 4em;
				max-width: 10em;
				height: auto;
				margin-bottom: 0.2em;
			}
			#galeria {
				border-radius: 0.6em;
				background-color: #ffffff;
				box-shadow: 0 0 0.3em #dddddd;
				text-align: center;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 0.5em;
				width: 98%;
				height: 23em;
				overflow: hidden;
			}
			#galeria .imagem {
				border-radius: 0.5em;
				width: 100%;
				display: none;
			}
			#galeria #img1 {
				border-radius: 0.5em;
				width: 100%;
				display: block;
			}
			#galeria .imagem .prox {
				border-radius: 0.3em;
				font-size: 2em;
				float: right;
				right: 2%;
				padding-top: 5em;
				height: 23em;
				display: inline-block;
				cursor: pointer;
				box-shadow: 0 0 0.3em #dddddd;
				background-color: #405080;
				color: #f4f4f4;
			}
			#galeria .imagem .ante {
				border-radius: 0.3em;
				font-size: 2em;
				float: left;
				left: 2%;
				padding-top: 5em;
				height: 20em;
				display: inline-block;
				cursor: pointer;
				box-shadow: 0 0 0.3em #dddddd;
				background-color: #405080;
				color: #f4f4f4;
			}
			#galeria .imagem .sobreimg {
				border-radius: 0.5em;
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 0.2em;
				margin-bottom: 0.2em;
				max-height: 19.6em;
				max-width: calc(100% - 5em);
			}
			#galeria .imagem #descimg {
				border-radius: 0.5em;
				background-color: #ffffff;
				box-shadow: 0 0 0.3em #dddddd;
				width: calc(98% - 3em);
				display: block;
				margin-left: auto;
				margin-right: auto;
				height: 2.8em;
			}
			footer {
				
			}
}
@media only screen and (max-device-width: 480px) {
			.parallax {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				min-height: 100%;
				background-image: url("./img_parallax.jpg");
				background-attachment: fixed;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				z-index: -25;
			}
			body {
				font-family: verdana;
				font-size: 3.5em;
			}
			header {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2.5em;
				box-shadow: 0 0.2em 0.2em #cccccc;
				background-color: #405080;
				color: #f4f4f4;
				z-index: 5;
			}
			header spam {
				font-size: 1.2em;
				top: 0.5em;
				left: 2em;
				display: inline-block;
				position: absolute;
			}
			header button {
				position: absolute;
				font-size: 1.7em;
				border: none;
				color: #f4f4f4;
				background-color: rgba(0, 0, 0, 0);
				cursor: pointer;
				display: inline-block;
				-webkit-appearance: none;
				left: -0.4em;
				width: 1.5em;
				height: 1.5em;
				transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
			}
			#right #home {
				
				position: relative;
				z-index: 3;
				position: relative;
				width: 100%;
				height: calc(100% - 2.5em);
				top: 2.5em;
				display: block;
				overflow-y: scroll;
			}
			#right #sobre {
				background-image: url("./img_parallax.jpg");
				background-attachment: fixed;
				background-position: center;
				background-repeat: repeat;
				background-size: cover;
				position: relative;
				z-index: 3;
				position: relative;
				width: 100%;
				height: calc(100% - 2.5em);
				top: 2.5em;
				display: none;
				overflow-y: scroll;
			}
			#right #strtcode {
				background-image: url("./img_parallax.jpg");
				background-attachment: fixed;
				background-position: center;
				background-repeat: repeat;
				background-size: cover;
				position: relative;
				z-index: 3;
				position: relative;
				width: 100%;
				height: calc(100% - 2.5em);
				top: 2.5em;
				display: none;
				overflow-y: scroll;
			}
			#right #tips {
				background-image: url("./img_parallax.jpg");
				background-attachment: fixed;
				background-position: center;
				background-repeat: repeat;
				background-size: cover;
				position: relative;
				z-index: 3;
				position: relative;
				width: 100%;
				height: calc(100% - 2.5em);
				top: 2.5em;
				display: none;
				overflow-y: scroll;
			}
			#right #pogs {
				background-image: url("./img_parallax.jpg");
				background-attachment: fixed;
				background-position: center;
				background-repeat: repeat;
				background-size: cover;
				position: relative;
				z-index: 3;
				position: relative;
				width: 100%;
				height: calc(100% - 2.5em);
				top: 2.5em;
				display: none;
				overflow-y: scroll;
			}
			#right {
				height: calc(100% - 1.2em);
			}
			#right #sobre #post {
				background-color: #ffffff;
				margin-top: 0;
				width: calc(100% - 0.8em);
				padding: 0.2em;
				padding-bottom: 0;
				margin-left: 0.2em;
				margin-bottom: 0.2em;
				box-shadow: 0 0 0.2em #cccccc;
			}
			#right #home #titulo {
				background-color: #ffffff;
				margin-top: 0;
				width: calc(100% - 0.8em);
				padding: 0.2em;
				padding-bottom: 0;
				margin-left: 0.2em;
				margin-bottom: 0.1em;
				box-shadow: 0 0 0.2em #cccccc;
			}
			#right #home #post {
				background-color: #ffffff;
				margin-top: 0;
				width: calc(100% - 0.8em);
				padding: 0.2em;
				padding-bottom: 0;
				margin-left: 0.2em;
				margin-bottom: 0.2em;
				box-shadow: 0 0 0.2em #cccccc;
			}
			#right #home #post spam {
				float: right;
				top: 0;
				right: 0.2em;
				display: block;
				font-weight: normal;
				font-size: 0.7em;
			}
			#right #home #post img {
				display: inline-block;
				width: 25%;
				min-width: 4em;
				max-width: 10em;
				height: auto;
				vertical-align: middle;
				margin-bottom: 0.5em;
				top: -0.3em;
			}
			#right #home #post p {
				float: right;
				right: 0.3em;
				display: block;
				font-weight: bold;
				margin-bottom: 0.5em;
				font-size: 0.8em;
			}
			#right #home #post div {
				display: none;
			}
			left {
				position: absolute;
				width: 100%;
				height: calc(100% - 2.5em);
				top: 2.5em;
				left: 0;
				display: none;
				background-color: rgba(0, 0, 0, 0.1);
				z-index: 4;
			}
			left #bar {
				position: absolute;
				width: 80%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: #405080;
				color: #f4f4f4;
				font-size: 1em;
				box-shadow: 0.2em 0 0.2em #cccccc;
			}
			left #out {
				position: absolute;
				width: 20%;
				height: 100%;
				left: 80%;
				top: 0;
			}
			left #bar ul {
				list-style-type: none
			}
			left #bar ul li {
				padding: 0.6em;
			}
			left #bar ul li i {
				font-size: 60px;
			}
			left #bar ul li:hover {
				transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				background-color: #6070a0;
				box-shadow: 0 0 0.3em #dddddd;
			}
			#sobre #profileimg {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 25%;
				min-width: 4em;
				max-width: 10em;
				height: auto;
				margin-bottom: 0.2em;
			}
			#sobre #sobreimg {
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				width: 15%;
				min-width: 2em;
				max-width: 5em;
				height: auto;
				margin-bottom: 0.2em;
			}
			footer {
				
			}
			#galeria {
				background-color: #ffffff;
				box-shadow: 0 0 0.3em #dddddd;
				text-align: center;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 0.5em;
				width: 98%;
				height: 26em;
				overflow: hidden;
			}
			#galeria .imagem {
				width: 100%;
				display: none;
			}
			#galeria #img1 {
				width: 100%;
				display: block;
			}
			#galeria .imagem .prox {
				font-size: 2em;
				float: right;
				right: 2%;
				padding-top: 5em;
				height: 23em;
				display: inline-block;
				cursor: pointer;
				box-shadow: 0 0 0.3em #dddddd;
				background-color: #405080;
				color: #f4f4f4;
			}
			#galeria .imagem .ante {
				font-size: 2em;
				float: left;
				left: 2%;
				padding-top: 5em;
				height: 20em;
				display: inline-block;
				cursor: pointer;
				box-shadow: 0 0 0.3em #dddddd;
				background-color: #405080;
				color: #f4f4f4;
			}
			#galeria .imagem .sobreimg {
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 0.2em;
				margin-bottom: 0.2em;
				max-height: 19em;
				max-width: calc(100% - 5em);
			}
			#galeria .imagem #descimg {
				background-color: #ffffff;
				box-shadow: 0 0 0.3em #dddddd;
				width: calc(98% - 3em);
				display: block;
				margin-left: auto;
				margin-right: auto;
				height: 5.8em;
			}
}
